.home {
    .user {
        display: flex;
        align-items: center;
        padding-bottom: 20px;
        margin-bottom: 20px;
        border-bottom: 1px solid gray;
        img {
            width: 150px;
            height: 150px;
            border-radius: 50%;
            margin-right: 40px;
        }
        &info {
            .name {
                font-size: 32px;
                margin-bottom: 10px;
            }
            .access {
                color: black;
            }
        }
    }
    .login {
        p {
            line-height: 28px;
            font-size: 14px;
            color: cornflowerblue;
            span {
                color: black;
                margin-left: 60px;
            }
        }
    }

    .num {
        display: flex;
        /* flex布局 */
        flex-wrap: wrap; //打散换行
        justify-content: space-between; //水平对齐
        .el-card {
            width: 32%;
            margin-bottom: 20px;
    
        }
        .icon {
            font-size: 30px;
            width: 80px;
            height: 80px;
            text-align: center;
            line-height: 80px;
            color: black;
        }
        .detail {
            margin-left: 15px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            .num {
                font-size: 30px;
                margin-bottom: 10px;
            }
            .txt {
                font-size: 14px;
                text-align: center;
                color: gray;
            }
        }
    }

    .graph {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;

        .el-card {
            width: 48%;
        }
    }
}